In [1]:
import numpy as np
print("numpy version: {}".format(np.__version__))
import pandas as pd 
print("pandas version: {}".format(pd.__version__))
import matplotlib
import matplotlib.pyplot as plt
print("matplotlib version: {}".format(matplotlib.__version__))
import scipy as sp
print("scipy version: {}".format(sp.__version__))
import sklearn as sl
print("scikit-learn: {}".format(sl.__version__))
import seaborn as sns
print("seaborn: {}".format(sns.__version__))
import statsmodels as sm
print("statsmodels: {}".format(sm.__version__))

numpy version: 1.17.4
pandas version: 0.25.3
matplotlib version: 3.1.2
scipy version: 1.3.3
scikit-learn: 0.21.3
seaborn: 0.9.0
statsmodels: 0.10.2

In [5]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
path_ex1 = 'examples/ex1.csv'

In [12]:
df = pd.read_csv(path_ex1)

In [13]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
pd.read_table(path_ex1, sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
path_ex2 = 'examples/ex2.csv'

In [16]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
pd.read_csv(path_ex2, header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [18]:
pd.read_csv(path_ex2, names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
names = ['a', 'b', 'c', 'd', 'message']

In [20]:
pd.read_csv(path_ex2, names=names, index_col=names[-1])

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [21]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [23]:
path_csv_mindex = 'examples/csv_mindex.csv'

In [24]:
parsed = pd.read_csv(path_csv_mindex, index_col=['key1', 'key2'])

In [25]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [26]:
path_ex3 = 'examples/ex3.txt'

In [27]:
result = pd.read_table(path_ex3, sep='\s+')

In [28]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [29]:
path_ex4 = 'examples/ex4.csv'

In [30]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [31]:
pd.read_csv(path_ex4, skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
pd.read_csv(path_ex4)

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [33]:
path_ex5 = 'examples/ex5.csv'

In [34]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [35]:
result = pd.read_csv(path_ex5)

In [36]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [37]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [38]:
result = pd.read_csv(path_ex5, na_values=['NULL'])

In [39]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [40]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [41]:
pd.read_csv(path_ex5, na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [42]:
data = pd.read_csv(path_ex5)

In [43]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
path_out = 'examples/out.csv'

In [45]:
data.to_csv(path_out)

In [46]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [47]:
import sys

In [48]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [50]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [51]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [52]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [53]:
dates = pd.date_range('1/1/2000', periods=7)

In [54]:
ts = pd.Series(np.arange(7), index=dates)

In [55]:
path_tseries = 'examples/tseries.csv'

In [56]:
ts.to_csv(path_tseries)

/home/vlad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [57]:
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [58]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [59]:
import csv

In [63]:
path_ex7 = 'examples/ex7.csv'

In [64]:
f = open(path_ex7)

In [65]:
reader = csv.reader(f)

In [66]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [67]:
with open(path_ex7) as f:
    lines = list(csv.reader(f))

In [68]:
header, values = lines[0], lines[1:]

In [69]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [70]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV files come in many different flavors. To define a new format with a different
delimiter, string quoting convention, or line terminator, we define a simple subclass
of csv.Dialect :

In [71]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [75]:
f, f is iter

(<_io.TextIOWrapper name='examples/ex7.csv' mode='r' encoding='UTF-8'>, False)

In [72]:
reader = csv.reader(f, dialect=my_dialect)

TypeError: argument 1 must be an iterator

In [73]:
reader = csv.reader(f, delimiter='|')

TypeError: argument 1 must be an iterator

In [76]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [77]:
!cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

In [78]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
            {"name": "Katie", "age": 38,
            "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [79]:
import json

In [80]:
result = json.loads(obj)

In [81]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [82]:
asjson = json.dumps(result)

In [83]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [84]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [85]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
{"a": 4, "b": 5, "c": 6},
{"a": 7, "b": 8, "c": 9}]

In [86]:
data = pd.read_json('examples/example.json')

In [87]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [88]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [89]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

One of the easiest ways to store data (also known as serialization) efficiently in binary
format is using Pythons built-in pickle serialization. pandas objects all have a
to_pickle method that writes the data to disk in pickle format:

In [90]:
frame = pd.read_csv(path_ex1)

In [91]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [92]:
path_frame_pickle = 'examples/frame_pickle'

In [93]:
frame.to_pickle(path_frame_pickle)

In [94]:
pd.read_pickle(path_frame_pickle)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

pickle is only recommended as a short-term storage format. The
problem is that it is hard to guarantee that the format will be stable
over time; an object pickled today may not unpickle with a later
version of a library. We have tried to maintain backward compati
bility when possible, but at some point in the future it may be nec
essary to break the pickle format.

In [95]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [97]:
store = pd.HDFStore('mydata.h5')

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

In [98]:
import requests

In [99]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [100]:
resp = requests.get(url)

In [101]:
resp

In [102]:
data = resp.json()

In [103]:
data[0]['title']

'#31087 DOC: Replace ggpy with plotnine in ecosystem'

In [104]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [105]:
issues

,number,title,labels,state
0,31097,#31087 DOC: Replace ggpy with plotnine in ecos...,[],open
1,31096,ENH: partial string indexing on non-monotonic ...,[],open
2,31095,Restore ExtensionIndex.dropna.__doc__,[],open
3,31094,WEB: Styling blog,"[{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...",open
4,31093,Pull Request Tips,[],open
5,31092,Fix Segfault (maybe),[],open
6,31090,Clean Up Sphinx Warnings,[],open
7,31089,CLN: update _simple_new usages,[],open
8,31088,BUG: df.pivot_table fails when margin is True ...,"[{'id': 13098779, 'node_id': 'MDU6TGFiZWwxMzA5...",open
9,31087,DOC: replace ggpy with plotnine on the ecosyst...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
10,31086,Issue generating a line plot from a Series whe...,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
11,31082,CLN: __all__ for core/index.py,[],open
12,31080,Pandas 0.25.0 breaks np.isin,[],open
13,31079,TST: Remove bare pytest.raises,[],open
14,31077,dict to series turns tuple keys into single st...,[],open
15,31075,PERF: DataFrame.mean() is slow with datetime c...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
16,31074,Pandas .plot() on regularly spaced timeseries ...,[],open
17,31073,The IntervalIndex documentation makes no menti...,[],open
18,31072,CLN/MAINT: Clean and annotate stata reader and...,"[{'id': 104865385, 'node_id': 'MDU6TGFiZWwxMDQ...",open
19,31071,accept a dictionary in plot colors,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
20,31070,PERF: add shortcut to Timedelta constructor,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
21,31069,Fix DataFrame.info() range summary for Datetim...,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
22,31068,REGR: MultiIndex level names RuntimeError in g...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
23,31066,DOC: add plotting backends in visualization.rst,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
24,31064,BUG: partial-timestamp slicing near the end of...,"[{'id': 49597148, 'node_id': 'MDU6TGFiZWw0OTU5...",open
25,31063,DataFrame.GroupBy.apply has unexpected returns...,[],open
26,31061,WEB: Broken older versions link in the website,"[{'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk...",open
27,31060,CLN: Replace Appender and Substitution with si...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
28,31058,REF: use _get_string_slice in PeriodIndex.get_...,[],open
29,31057,Split out JSON Date Converters,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open

In [106]:
import sqlite3

In [107]:
query = """
.....: CREATE TABLE test
.....: (a VARCHAR(20), b VARCHAR(20),
.....: c REAL,         d INTEGER
.....: );"""

In [108]:
con = sqlite3.connect('mydata.sqlite')

In [109]:
con.execute(query)

In [110]:
con.commit()

In [111]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [112]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [114]:
con.executemany(stmt, data)

In [115]:
con.commit()

In [116]:
cursor = con.execute('select * from test')

In [117]:
rows = cursor.fetchall()

In [118]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [119]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [120]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [121]:
import sqlalchemy as sqla

In [123]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [124]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5